#about.flex-container {
  align-items: center;
  justify-content: space-around;
}
#about .photo {
  background: url(../img/me_500.png);
  background-size: contain;
  background-color: white;
  width: 500px;
  height: 500px;
  border-radius: 50%;
}
#about .info {
  width: 600px;
  margin-top: 15px;
}
#about .info .name {
  display: block;
  font-size: 50px;
  padding-bottom: 20px;
  color: #181e52;
  font-weight: bold;
}
#about .info .description {
  font-weight: bold;
  line-height: 1.4;
  margin: 10px 0;
  font-size: 25px;
  padding-left: 2px;
}
#about .info .socials {
  padding: 30px 0 0;
}
#about .info .socials a:last-child {
  margin-right: 0;
}
#about .info .socials .btn {
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 0.875rem;
  background: #ffa547;
  border-radius: 7px;
  border: none;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  background-size: contain;
}
#about .info .socials .btn.hh {
  background-image: url('../img/icon/resume.png');
}
#about .info .socials .btn.email {
  background-image: url('../img/icon/mail.png');
}
#about .info .socials .btn.in {
  background-image: url('../img/icon/linkedin.png');
}
#about .info .socials .btn.fb {
  background-image: url('../img/icon/facebook.png');
}
#about .info .copy {
  text-align: right;
  margin-bottom: 0;
}
#about #nav {
  margin-top: 50px;
  font-size: 25px;
  color: #181e52;
  font-weight: bold;
}
#about #nav ul {
  padding: 0;
}
#about #nav ul li {
  display: inline;
  padding: 0 25px;
}
