#main-stack {
  text-align: center;
  margin-top: 35px;
}
#main-stack .row {
  align-items: center;
  justify-content: center;
  display: flex;
  height: 50px;
  border: 2px solid #ffc147;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  background: #ffa547;
  font-size: 18px;
  font-weight: bold;
}
#main-stack .row.ls3 {
  background: #ffc147;
  border: 2px solid #ffa547;
}
#main-stack .row.win {
  width: 61%;
}
#main-stack .row.lin {
  width: 30%;
}
#main-stack .row.csharp {
  width: 100%;
}
#main-stack .row.sp,
#main-stack .row.net-mvc,
#main-stack .row.win-forms {
  width: 14.3%;
}
#main-stack .row.net-core {
  width: 39.1%;
}
#main-stack .row.ef {
  width: 44%;
}
#main-stack .row.ado-net {
  width: 14%;
}
#main-stack .row.ef-core,
#main-stack .row.se-redis,
#main-stack .row.redis {
  width: 12%;
}
#main-stack .row.ms-sql {
  width: 53.5%;
}
#main-stack .row.pg {
  width: 21%;
}
#main-stack .row.web {
  width: 100%;
}
#main-stack .legend {
  padding: 35px;
}
#main-stack .legend .duration {
  display: inline;
  padding: 15px;
}
#main-stack .legend .duration.mr3 {
  background: #ffa547;
}
#main-stack .legend .duration.ls3 {
  background: #ffc147;
}
@media screen and (max-width: 800px) {
  #main-stack .flex-container {
    justify-content: space-around;
  }
  #main-stack .row {
    width: 34% !important;
  }
  #main-stack .row.csharp {
    width: 84% !important;
  }
  #main-stack .row.web {
    width: 84% !important;
  }
  #main-stack .legend {
    display: flex;
    flex-direction: column;
  }
}
