#projects {
  text-align: center;
}
#projects .row {
  width: 45%;
  align-items: center;
  display: flex;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-size: 18px;
}
#projects .row.grid {
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 18% 82%;
  align-items: center;
}
#projects .row.grid > div {
  padding: 10px;
}
#projects .row td:nth-child(2) {
  text-align: left;
}
#projects .row td {
  padding: 7px;
}
#projects .row .description {
  text-align: left;
  font-size: 18px;
}
#projects .row .title.header {
  color: #ffa547;
  text-align: left;
}
#projects .row .title.count {
  font-size: 50px;
}
@media screen and (max-width: 800px) {
  #projects .row {
    width: 100%;
    padding: 0px 20px;
  }
  #projects .row.grid {
    grid-template-rows: 18% 82%;
    grid-template-columns: 100%;
    text-align: left;
  }
  #projects .row.grid > div {
    padding: 0 10px;
  }
  #projects .row.grid .year,
  #projects .row.grid .count {
    display: none;
  }
}
