body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-y: scroll;
}

#person{
  position: fixed;
    background: url(../img/tmp.PNG) center center #000;
    background-size: cover;
    width: 45%;
    height: 100%;
    float: left;
    z-index: 100;
    border: 1px solid black;
}

#resume{
  position: relative;
  width: 55%;
  float: right;
  overflow: visible;
  border: 1px solid black;
  min-height: 100%;
  /*height: 2706px;*/
}


li{
    width: 30%;
    height: 270px !important;
}