html {
  font-family: Rubik, sans-serif;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.page__section {
  max-width: 1200px;
  clear: both;
}
.page__section_title {
  font-size: medium;
}
.page__section_content-left {
  float: left;
}
.page__section_content-right {
  float: right;
}
.page__section_content-me {
  padding: 50px 0;
  max-width: 600px;
}
.me__photo {
  background-color: white;
  max-width: 500px;
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.me__name {
  display: block;
  font-weight: bold;
  color: #181e52;
  font-size: 50px;
  padding-bottom: 20px;
}
.me__description {
  line-height: 1.4;
  margin: 10px 0;
  font-weight: bold;
  font-size: 25px;
  padding-left: 2px;
}
.socials {
  padding: 30px 0 0;
}
.socials a:last-child {
  margin-right: 0;
}
.socials__btn {
  height: 50px;
  width: 50px;
  color: #fff;
  font-size: 0.875rem;
  background: #ff8c00;
  border-radius: 7px;
  border: none;
  position: relative;
  display: inline-block;
  margin-right: 30px;
  background-size: contain;
}
.socials__btn-hh {
  background-image: url('../img/icon/resume.png');
}
.socials__btn-email {
  background-image: url('../img/icon/mail.png');
}
.socials__btn-li {
  background-image: url('../img/icon/linkedin.png');
}
.socials__btn-fb {
  background-image: url('../img/icon/facebook.png');
}
.copy {
  text-align: right;
}
.tools__container {
  display: flex;
  flex-wrap: wrap;
}
.tools__group {
  border: 1px solid #ff8c00;
  padding: 40px;
  /* 
        .vscode{
           
        } */
}
.tools__group-title {
  color: #181e52;
  font-weight: bold;
  font-size: 20px;
}
.tools__group-item {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  /* padding: 30px 0;
 */
}
.tools__group-item .tool__logo {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}
.tools__group-item .tool__logo.win10 {
  background-image: url('../img/tools/win10_64.png');
}
.tools__group-item .tool__use {
  height: 20px;
  width: 128px;
  background-color: lime;
  border-radius: 20px;
}
.tools__group-item.ubuntu {
  background-image: url('../img/tools/ubuntu_64.png');
}
.tools__group-item.centos {
  background-image: url('../img/tools/centos_64.png');
}
.tools__group-item.vs {
  background-image: url('../img/tools/vs_64.png');
}
.tools__group-item.vscode {
  background-image: url('../img/tools/vscode_64.png');
}
.tools__group-item.sqlserver {
  background-image: url('../img/tools/sqlserver_64.png');
}
.tools__group-item.postgres {
  background-image: url('../img/tools/postgres_64.png');
}
.tools__group-item.redis {
  background-image: url('../img/tools/redis_64.png');
}
.tools__group-item.iis {
  background-image: url('../img/tools/iis_64.png');
}
.tools__group-item.apache {
  background-image: url('../img/tools/apache_64.png');
}
.tools__group-item.vmware {
  background-image: url('../img/tools/vmware_64.png');
}
.tools__group-item.vb {
  background-image: url('../img/tools/vb_64.png');
}
.tools__group-item.fiddler {
  background-image: url('../img/tools/fiddler_64.png');
}
.tools__group-item.postman {
  background-image: url('../img/tools/postman_64.png');
}
.tools__group-item.tfs {
  background-image: url('../img/tools/tfs_64.png');
}
.tools__group-item.git {
  background-image: url('../img/tools/git_64.png');
}
.tools__group-item.github {
  background-image: url('../img/tools/github_64.png');
}
.tools__group-item.visio {
  background-image: url('../img/tools/visio_64.png');
}
.tools__group-item.staruml {
  background-image: url('../img/tools/staruml_64.png');
}
.tools__group-item.ps {
  background-image: url('../img/tools/ps_64.png');
}
.tools__group-item.jira {
  background-image: url('../img/tools/jira_64.png');
}
.tools__group-item.office {
  background-image: url('../img/tools/office_64.png');
}
@media screen and (max-width: 1200px) {
  .page__section {
    padding: 10px 10% 0;
    margin-bottom: 0;
    max-width: 600px;
  }
  .page__section_content-me {
    padding: 0;
  }
  .me__name {
    font-size: 30px;
    padding: 10px 0;
  }
  .me__description {
    font-size: 18px;
  }
  .copy {
    display: block;
    padding: 40px 0 10px;
    text-align: right;
  }
  .socials__btn {
    display: inline-block;
    margin-right: 12px;
  }
}
