html {
  font-family: Rubik, sans-serif;
}
body {
  min-height: 100%;
  margin: 0;
  background-color: #f0f0f0;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.page__section {
  width: 1200px;
  max-width: 1200px;
  clear: both;
}
.page__section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181e52;
  border-bottom: 2px solid;
}
.anchor {
  text-decoration: none;
}
.anchor:link,
.anchor:visited {
  color: #181e52;
}
.anchor:hover {
  color: #ffa547;
}
#btn_up {
  display: inline-block;
  background-color: #ffa547;
  border: 2px solid #f0f0f0;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 50px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#btn_up::after {
  content: "\21EA";
  font-size: 40px;
  line-height: 50px;
  color: #fff;
}
#btn_up:hover,
#btn_up:active {
  cursor: pointer;
  background-color: #181e52;
}
#btn_up.show {
  opacity: 1;
  visibility: visible;
}
.small-screen {
  display: none;
}
ul {
  padding: 0;
  line-height: 1.8;
}
ul li {
  padding-bottom: 15px;
  list-style: none;
}
ul li:before {
  content: "✔";
  color: limegreen;
  font-weight: bold;
  padding-right: 10px;
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  #btn_up {
    background-color: #181e52;
    right: 10px;
  }
  .page__section {
    width: 90%;
  }
  .page__section-title {
    font-size: 23px;
  }
  .big-screen {
    display: none;
  }
  .small-screen {
    display: initial;
    font-size: 18px;
  }
}
