body{
  margin: 0 auto;
  padding: 0;
  height: 100%;  
  width: 100%;
}


#about-container{
  height: 100vh;
  background-color: orange;
  position: relative;
}

#about{
  width: 1200px;
  height: 70%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid black;
}