html{
  height: 100%;
  width: 100%;
}

body{
  margin: auto;
  padding: 0;
  height: 100%;
  width:100%;
  min-width: 1402px;
}


#about-container{
  /* height: 100%; */
  margin: auto;
  background-color:#ff8c00;
}

#about{
  background-color: #ff8c00;
  width: 1400px;
  height: 600px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid black;
}

#photo{
  background-color: white;
  /* background-image: url('../img/me.png'); */
  border-radius: 50%;
  height: 100%; /*600px;*/
  width: 45%; /*600px;*/
  float: left;
}


#personal_text{
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  color: #181e52;
  width: 45%;
  left: 50%;



}

#name{
  font-family: 'Rubik', sans-serif;
  font-size: 70px;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}

#description{
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  line-height: 1.4;
}

#education-container{
  background-color: lime;
  width: 100vw;
  height: 100vh;
}

#education{
background-color: chocolate;
  width: 1400px;
  height: 600px;
  margin: 0;
  position: relative;
  top: 48%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid black;
}