.page__section {
  /*     padding-top: 40px; */
  /*     border-top: 5px solid orange; */
  /*     border-bottom: 5px solid #181e52; */
  max-width: 1200px;
  clear: both;
}
.page__section-title {
  font-size: 25px;
  font-weight: bold;
  color: #181e52;
  border-bottom: 2px solid;
}
.tools__container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}
.tools__group {
  padding: 20px 40px;
}
.tools__group-title {
  color: #ff8c00;
  font-weight: bold;
  font-size: 20px;
}
.tools__group-item {
  background-repeat: no-repeat;
  padding: 15px 0;
}
.tools__group-item .tool__logo {
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
}
.tools__group-item .tool__logo.win10 {
  background-image: url('../img/tools/win10_64.png');
}
.tools__group-item .tool__logo.ubuntu {
  background-image: url('../img/tools/ubuntu_64.png');
}
.tools__group-item .tool__logo.centos {
  background-image: url('../img/tools/centos_64.png');
}
.tools__group-item .tool__logo.vs {
  background-image: url('../img/tools/vs_64.png');
}
.tools__group-item .tool__logo.vscode {
  background-image: url('../img/tools/vscode_64.png');
}
.tools__group-item .tool__logo.sqlserver {
  background-image: url('../img/tools/sqlserver_64.png');
}
.tools__group-item .tool__logo.postgres {
  background-image: url('../img/tools/postgres_64.png');
}
.tools__group-item .tool__logo.redis {
  background-image: url('../img/tools/redis_64.png');
}
.tools__group-item .tool__logo.iis {
  background-image: url('../img/tools/iis_64.png');
}
.tools__group-item .tool__logo.apache {
  background-image: url('../img/tools/apache_64.png');
}
.tools__group-item .tool__logo.vmware {
  background-image: url('../img/tools/vmware_64.png');
}
.tools__group-item .tool__logo.vb {
  background-image: url('../img/tools/vb_64.png');
}
.tools__group-item .tool__logo.fiddler {
  background-image: url('../img/tools/fiddler_64.png');
}
.tools__group-item .tool__logo.postman {
  background-image: url('../img/tools/postman_64.png');
}
.tools__group-item .tool__logo.tfs {
  background-image: url('../img/tools/tfs_64.png');
}
.tools__group-item .tool__logo.git {
  background-image: url('../img/tools/git_64.png');
}
.tools__group-item .tool__logo.github {
  background-image: url('../img/tools/github_64.png');
}
.tools__group-item .tool__logo.visio {
  background-image: url('../img/tools/visio_64.png');
}
.tools__group-item .tool__logo.staruml {
  background-image: url('../img/tools/staruml_64.png');
}
.tools__group-item .tool__logo.ps {
  background-image: url('../img/tools/ps_64.png');
}
.tools__group-item .tool__logo.jira {
  background-image: url('../img/tools/jira_64.png');
}
.tools__group-item .tool__logo.office {
  background-image: url('../img/tools/office_64.png');
}
.tools__group-item .tool__logo.sp {
  background-image: url('../img/tools/sp_64.png');
}
.tools__group-item .tool__use {
  height: 20px;
  width: 128px;
  background-color: lime;
  border-radius: 20px;
}
.tools__group-item .tool__title {
  color: black;
  font-weight: bold;
  font-size: 16px;
}
