#main-stack{
    text-align: center;
    margin-top: 35px;

    .row{
        align-items: center;
        justify-content: center;
        display: flex;
        height: 50px;
        border: 2px solid rgb(255,193,71);
        padding: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        background: rgb(255,165,71);
        font-size: 18px;
        font-weight: bold;

        &.ls3{
            background: rgb(255,193,71);
            border: 2px solid rgb(255,165,71);
        }

        &.win{
            width: 61%;
        }

        &.lin{
            width: 30%;
        }

        &.csharp{
            width:100%;
        }

        &.sp, &.net-mvc, &.win-forms{
            width: 14.3%;
        }

        &.net-core{
            width: 39.1%;
        }

        &.ef{
            width: 44%;
        } 
        
        &.ado-net{
           width: 14%;
        }

        &.ef-core, &.se-redis, &.redis{
            width: 12%;
        }

        &.ms-sql{
            width: 53.5%;
        }

        &.pg{
            width: 21%;
        }

        &.web{
            width: 100%;
        }
    }

    .legend{
        padding: 35px;
        
        .duration{
            display: inline;
            padding: 15px;

            &.mr3
            {
                background: rgb(255,165,71); 
            }

            &.ls3{
                background:rgb(255,193,71);
            }
        }
    }
}

@media screen and (max-width: 800px)  {
   #main-stack 
   {
       .flex-container{
           justify-content: space-around;
       }
       .row{
            width: 30% !important;

            &.csharp{
                width: 84% !important;
            }

            &.web{
                width: 84% !important;
            }
        }

        .legend{
            display: flex;
            flex-direction: column;
        }
    } 
}