
.projects{
    text-align: center;
    margin-top: 35px;

    &__row{
        width: 45%;
        align-items: center;
        display: flex;
        padding: 20px;
        margin-bottom: 10px;
        margin-right: 10px;
        font-size: 18px;

        ul{
            padding: 0;
        }

        li{
            padding-bottom: 8px;
            list-style-type: none;
        }

        li:before {
            content: "✔";
            color: lightgreen;
            font-weight: bold;
            padding-right: 10px; 
            font-size: 20px;
        }

        td:nth-child(2){
            text-align: left;
        }


        td{
            padding: 7px;
        }

        &-description{
            text-align: left;
            font-size: 16px;
        }

        .title{
            font-size: 30px;
            font-weight: bold;

            
            &.header{
                color: #ffa547
            }
            

            &.count{
                font-size: 50px;
            }
        }


    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}