html{
    font-family: Rubik, sans-serif;
}

body{
    min-height: 100%;
    margin: 0;
    background-color:#f0f0f0;
  }

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1200px) {   
     .page__section{
         padding: 10px 10% 0;
         margin-bottom: 0;
         max-width: 600px;
     }

     .page__section_content-me{
         padding: 0;
     }
  
    .me__name{
      font-size: 30px;
      padding: 10px 0;
    }
  
    .me__description{
      font-size: 18px;
    }
  
    .copy{
      display: block;
      padding: 40px 0 10px;
      text-align: right;
    }
  
    .socials__btn{
      display: inline-block;
      margin-right: 12px;;
    }
  }