html{
    font-family: Rubik, sans-serif;
}

body{
    min-height: 100%;
    margin: 0;
    background-color:#f0f0f0;
  }

main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page__section{
    padding-top: 40px;
/*     border-top: 5px solid orange; */
/*     border-bottom: 5px solid #181e52; */
    max-width: 1200px;
    clear: both;

    &-title{
        font-size: 25px;
        font-weight: bold;
        color: #181e52;
        border-bottom: 2px solid;
    }
  }

.tools{
    &__container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
    }

    &__group{
        padding: 20px 40px;

        &-title{
            color: #ff8c00;
            font-weight: bold;
            font-size: 20px;
        }
    
        &-item{
            background-repeat: no-repeat;
            padding: 15px 0;

            .tool__logo{
                width: 80px;
                height: 80px;
                background-repeat: no-repeat;

                &.win10{
                    background-image: url('../img/tools/win10_64.png');
                }

                &.ubuntu{
                    background-image: url('../img/tools/ubuntu_64.png');
                }

                &.centos{
                    background-image: url('../img/tools/centos_64.png');
                }
    
                &.vs{
                    background-image: url('../img/tools/vs_64.png');
                }
    
                &.vscode{
                    background-image: url('../img/tools/vscode_64.png');
                }
    
                &.sqlserver{
                    background-image: url('../img/tools/sqlserver_64.png');
                }
    
                &.postgres{
                    background-image: url('../img/tools/postgres_64.png');
                }
                
                &.redis{
                    background-image: url('../img/tools/redis_64.png');
                }
    
                &.iis{
                    background-image: url('../img/tools/iis_64.png');
                }
    
               
                &.apache{
                    background-image: url('../img/tools/apache_64.png');
                }
                
                &.vmware{
                    background-image: url('../img/tools/vmware_64.png');
                }
    
               
                &.vb{
                    background-image: url('../img/tools/vb_64.png');
                }
    
                &.fiddler{
                    background-image: url('../img/tools/fiddler_64.png');
                }
                
                &.postman{
                    background-image: url('../img/tools/postman_64.png');
                }
    
                &.tfs{
                    background-image: url('../img/tools/tfs_64.png');
                }
                
                &.git{
                    background-image: url('../img/tools/git_64.png');
                }
    
               
                &.github{
                    background-image: url('../img/tools/github_64.png');
                }
    
                &.visio{
                    background-image: url('../img/tools/visio_64.png');
                }
    
               
                &.staruml{
                    background-image: url('../img/tools/staruml_64.png');
                }
    
                &.ps{
                    background-image: url('../img/tools/ps_64.png');
                }
         
                &.jira{
                    background-image: url('../img/tools/jira_64.png');
                }
    
                &.office{
                    background-image: url('../img/tools/office_64.png');
                }

                    
                &.sp{
                    background-image: url('../img/tools/sp_64.png');
                }
            }

            .tool__use{
                height: 20px;
                width: 128px;
                background-color: lime;
                border-radius: 20px;
            }

            .tool__title{
                color:black;
                font-weight: bold;
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {   
     .page__section{
         padding: 10px 10% 0;
         margin-bottom: 0;
         max-width: 600px;
     }

     .page__section_content-me{
         padding: 0;
     }
  
    .me__name{
      font-size: 30px;
      padding: 10px 0;
    }
  
    .me__description{
      font-size: 18px;
    }
  
    .copy{
      display: block;
      padding: 40px 0 10px;
      text-align: right;
    }
  
    .socials__btn{
      display: inline-block;
      margin-right: 12px;;
    }
  }